
# ALL THE PATHS IN THIS FILE ARE RELATIVE TO THE DATABASE PATH

[vision]

FRAME_SCALE = 0.5

RECOGNITION_FACE_WIDTH = 25

RECOGNITION_FACE_HEIGHT = 25

NUMBER_OF_TRAINING_RECOGNITION_SAMPLES = 25

FACE_DETECTION_AVG_WINDOW_SIZE = 5

RECOGNITION_CONFIDENCE_THRESHOLD = 1

FACE_DETECTION_THRESHOLD = 0.5

NO_FACE_DETECTION_THRESHOLD = 0.5

FACE_DETECTION_CLASSIFIER_FILE = vision/haarcascades/haarcascade_frontalface_alt2.xml
	
FACE_RECOGNITION_TRAINING_SET_FILE = /tmp/roboy/RoboyAlbum.csv

#CAPTURE_HARDWARE = novideo

NO_VISION_FILE_PATH = vision/roboyNoVision.jpg


############ Alternative values
#
# for mvBlueFox camera (the robot camera)
#CAPTURE_HARDWARE = mvBlueFox
#
#CAPTURE_DEVICE = 0
#
# for general /dev/video0 camera 
#
CAPTURE_HARDWARE = videodevice
#
CAPTURE_DEVICE = /dev/video0
###############################

[database]

DATABASE_PATH = /home/roboy/trunk/roboy/database

[robot]

USE_ROBOT = NO

[text2speech]

VOICE = voice_us1_mbrola

[starmind]

PORT = 30000

[faceexpressions]

MPLAYER_USE_FULL_SCREEN = YES
BLINK_VIDEO = 19_Blinking_.mp4

[main]

foo = 1
bar = 1.2
box = test

[extended]
foo = test1 test2

[robust examples]
#comment
 foo = 1
	bar = 2
box =1
baz=1
